/* TOOLS & FIXES */
.clear { clear: both; }

html {
  font-size: 100%;
}

/* GLOBAL */
body { font-size: 100%; font-family: "Lucida Grande", arial, sans-serif; background: #EAEAEA; margin: 0; }
a img { border: 0; }
	
/* CONTAINER */
div.bg { display: inline; float: left; width: 100%; background-color: #EAEAEA; margin: 0; padding: 0; }

/* BOOTSTRAP OVERRIDES */
.btn {
border-color: #E6E6E6 #E6E6E6 #BFBFBF;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
border: 1px solid #CCC;
border-bottom-color: #B3B3B3;
}

.btn-default {
display: inline-block;
margin-bottom: 0;
font-size: 14px;
line-height: 20px;
text-align: center;
vertical-align: middle;
cursor: pointer;
color: #333;
text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
background-color: #F5F5F5;
background-image: -moz-linear-gradient(top, #FFF, #E6E6E6);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FFF), to(#E6E6E6));
background-image: -webkit-linear-gradient(top, #FFF, #E6E6E6);
background-image: -o-linear-gradient(top, #FFF, #E6E6E6);
background-image: linear-gradient(to bottom, #FFF, #E6E6E6);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
border-color: #E6E6E6 #E6E6E6 #BFBFBF;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
border: 1px solid #CCC;
border-bottom-color: #B3B3B3;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn-success {
color: #FFF;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
background-color: #5BB75B;
background-image: -moz-linear-gradient(top, #62C462, #51A351);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62C462), to(#51A351));
background-image: -webkit-linear-gradient(top, #62C462, #51A351);
background-image: -o-linear-gradient(top, #62C462, #51A351);
background-image: linear-gradient(to bottom, #62C462, #51A351);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
border-color: #51A351 #51A351 #387038;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.btn-info {
color: #FFF;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
background-color: #49AFCD;
background-image: -moz-linear-gradient(top, #5BC0DE, #2F96B4);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5BC0DE), to(#2F96B4));
background-image: -webkit-linear-gradient(top, #5BC0DE, #2F96B4);
background-image: -o-linear-gradient(top, #5BC0DE, #2F96B4);
background-image: linear-gradient(to bottom, #5BC0DE, #2F96B4);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
border-color: #2F96B4 #2F96B4 #1F6377;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.btn-warning {
color: #FFF;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
background-color: #FAA732;
background-image: -moz-linear-gradient(top, #FBB450, #F89406);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FBB450), to(#F89406));
background-image: -webkit-linear-gradient(top, #FBB450, #F89406);
background-image: -o-linear-gradient(top, #FBB450, #F89406);
background-image: linear-gradient(to bottom, #FBB450, #F89406);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
border-color: #F89406 #F89406 #AD6704;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.btn-danger {
color: #FFF;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
background-color: #DA4F49;
background-image: -moz-linear-gradient(top, #EE5F5B, #BD362F);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#EE5F5B), to(#BD362F));
background-image: -webkit-linear-gradient(top, #EE5F5B, #BD362F);
background-image: -o-linear-gradient(top, #EE5F5B, #BD362F);
background-image: linear-gradient(to bottom, #EE5F5B, #BD362F);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
border-color: #BD362F #BD362F #802420;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.navbar .btn-navbar {
margin: 3px 0px 3px 0px;
float: none;
color: #333;
}

.navbar .btn-navbar :hover{
color: #333;
}

.label-inverse, .badge-inverse {
background-color: #333;
}

.label-important {
background-color: #D9534F;
}

/* REPLACED BY BOOTSTRAP STYLES */
.button { background: #6ec621; border: 1px solid #57ab0e; color: #fff !important; text-decoration: none; vertical-align: middle; margin: 0 0 0 6px; cursor: pointer; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; }
a.button { padding: 5px 10px 6px; }
input.button { padding: 5px 8px 5px; }
.small-button { background: #ddd; border: 1px solid #aaa; color: #777 !important; text-decoration: none; vertical-align: middle; padding: 3px; font-size: 0.9em !important; }
.button.grey { background: #bbb; border: 1px solid #999; }
.button.blue { background: #70b9ce; border: 1px solid #63a8bc; }
.button.orange { background: #e79200; border: 1px solid #cd8300; }
.button:hover { background: #ccc; border: 1px solid #aaa;  }
.button.small { padding: 3px 5px; font-size: 0.9em; }	

/* HEADER */
div#header { display: inline; float: left; width: 100%; height: 115px; padding: 0; clear: both; }
div#header h1 { position: absolute; top: 0; text-indent: -9000px; height: 0; width: 0; margin: 0; padding: 0; }

div#logo { position: relative; float: left; width: 100%; height: 100%; }
div#logo img { border: 1px solid #B3B3B3; height: auto !important; max-height: 100px; }

div#header h2, div#header h3 { color: #555; font-weight: normal; }

ul#toolbar { display: inline; float: right; margin: 0 0 10px; padding: 0; list-style-type: none; clear: both; }
ul#toolbar li { float: left; margin: 0 0 8px 8px; padding: 0 0px 0 0; }
ul#toolbar a { margin: 0; text-decoration: none; }
ul#toolbar li.superuser { border: none; padding: 0; }
ul#toolbar li.noborder { border: none !important; }
ul#toolbar li.last { padding: 0; margin: 0 0 0 8px; border: none !important; }

div#siteinfo { display: inline; float: right; margin: 0; text-align: right; }
div#siteinfo h2 { font-size: 1.7em; margin: 0 0 5px; }
div#siteinfo h3 { font-size: 1.4em; margin: 0; }	

/* MENU */
div#navigation { display: inline; float: left; width: 100%; height: 40px; margin: 0; padding: 0; clear: both; }

ul#menubar, ul#menubar ul { list-style: none; }

ul#menubar { float: left; width: 998px; margin: 0 0 30px 0; padding: 0px; background: #DFE1E0 url(/static/images/admin_nav_bg.gif) no-repeat; }
#menubar li { position: relative; float: left; margin: 0px; padding: 0px; }
#menubar a { display: block; float: left; height: 28px; line-height: 28px; padding: 0 18px;	color: #444; border-right: 1px solid #EFEFF0; text-decoration: none; }
#menubar a:hover { background: #ccc url(/static/images/admin_nav_bg_over.gif) repeat-x; color: #444 !important; }
#menubar li.hover { background: #ccc url(/static/images/admin_nav_bg_over.gif) repeat-x; color: #444 !important; }

#menubar ul.subnav { display: none; position: absolute; top: 28px; left: 0; width: 200px; z-index: 200; background: #fff; margin: 0 0 50px 0; padding: 0; border: 1px solid #ccc; }		
#menubar ul.subnav li { width: 153px; clear: both; margin: 0px; padding: 0px; z-index: 200; }
#menubar ul.subnav li a { background: #fff; height: 18px; width: 182px; padding: 4px 0 4px 18px; line-height: 18px; color: #555; font-size: 0.9em; border-right: none; }
#menubar ul.subnav li a:hover { background: #f0f0f0; }


/* SIDEBAR */
div#sidenav	{ display: inline; float: left; width: 140px; font-size: 1em; min-height: 300px; margin: 2px 0px 0 0; }
#sidenav ul { margin: 0; padding: 0; list-style-type: none; padding-top: 10px; }
#sidenav a:hover { text-decoration: none; }


/* FOOTER */
div#footer { float: left; width: 100%; background: #eaeaea url(/static/images/admin_footer_bg.gif) repeat-x top; margin: 0; padding: 10px 0px 20px; clear: both; text-align: center; }
div#footer h3, div#footer h4 { color: #444; }
div#footer strong { color: #29c4f0; }
div#footer p { color: #afb7bc; font-size: 1em; }
div#footer small { color: #CDD2D5; }

div#footer ul { list-style-type: none; margin: 0; padding: 0; }
div#footer li { margin: 0 0 3px; padding: 0; font-size: 0.9em; line-height: 1.4em; }
div#footer a { color: #afb7bc; text-decoration: underline; }
div#footer .copyright { color: #bbb; text-align: center; margin: 10px 0 0; }
div#footer .copyright a { color: #aaa; }

div#footer .col1 { width: 219px; }
div#footer .col2 { width: 219px; margin: 0 40px 0 0; }
div#footer .col3 { width: 219px; margin: 0 40px 0 0; }
div#footer .col4 { width: 219px; }


/* CONTENT */
/* div#content { display: inline; float:left; width: 998px; height: auto !important; height: 280px; min-height: 280px; margin: 0px; padding: 10px 0 50px 0px; font-size: 1em; color: #555; }
div#content.withcol { width: 640px; margin: 0px 0 0 20px; } */

div.content h1, h2, h3 {
line-height: 30px;
}
div.content h1 { font-size: 1.6em; margin: 0px 20px 10px 0; font-weight: normal; color: #333; }
div.content h1 small { font-size: 0.6em; }
div.content h2 { font-size: 1.4em; color: #444; margin: 10px 0 15px; padding: 3px 0; font-weight: normal; }
div.content h2.underline { border-bottom: 1px solid #ccc; }
div.content h3 { font-size: 1.2em; color: #444; margin: 10px 0 5px; font-weight: normal; }
div.content h3.underline { border-bottom: 1px solid #ccc; }
div.content small { font-size: .8em; }
div.content .checkbox { margin: 7px 15px 0 0 !important; }
/* div.content label { padding: 6px 0 3px; color: #777; } */
div.content select { background: #f7f7f7; border: 1px solid #aaa; padding: 6px 1px !important; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; }	
div.content textarea { background: #f7f7f7; border: 1px solid #aaa; padding: 5px; /* width: 812px; height: 280px; */ }	
div.content textarea.small { width: 380px !important; height: 100px; }
div.content textarea.big { height: 400px; }
div.content textarea.half { width: 570px; margin: 0 6px 6px 0; }	
div.content textarea.short { width: 570px !important; height: 80px; }
div.content textarea.editor { width: 987px; height: 400px; font-family: monospace, sans-serif; font-size: 10pt; }
.mce-tinymce {
float: left !important;
width: 100% !important;
}
div.content hr { border: 0; color: #ccc; background-color: #ccc; height: 1px; width: 100%; text-align: left; margin: 5px 0 10px; }	
a {	color: #0e74b8; text-decoration: none; }
a:hover { color: #A7C8DF; text-decoration: none; }

div.content div.leftcol { float: left; width: 700px; }
div.content div.rightcol { float: left; width: 158px; padding: 10px; background: #f4f4f4; border: 1px solid #ccc; margin: 0 0 0 20px; }

div.headingleft { float: left; text-align: left; margin: 10px 0 10px 0; }
h1.headingleft { float: left; width: auto; line-height: 20px;}
h2.headingleft { float: left; width: 400px; }

div.headingright { float: right; text-align: right; margin: 10px 0 10px 0; width: 60%; }
div.headingright label { float: left; font-weight: bold; padding: 6px 4px 0 0; }
div.headingright select { float: left; width: 180px; background: #f6f6f6 !important; margin: 0 0 0 4px; }
div.headingright h2 { margin: 0 !important; }
div.headingright div { margin: 0 !important; }

ul.innernav { display: inline; float: left; width: 998px; padding: 0; margin: 0 0 20px; list-style-type: none; border-bottom: 1px solid #ccc; clear: both; }	
ul.innernav li { position: relative; top: 1px; float: left; background: #e0e0e0; padding: 5px 18px; margin: 0 8px 0 0; border: 1px solid #ccc; }
ul.innernav li.selected { background: #fff; border-bottom: 1px solid #fff; }
ul.innernav li.selected:hover { background: #fff; }
ul.innernav li a { color: #777; text-decoration: none; outline: none; }
ul.innernav li a:hover { color: #999; }
ul.innernav li:hover { background: #eee;  }

div.error { background: #FFDFDF; padding: 0 10px 0px; border: 1px solid #BF0000; margin: 0 0 20px 0; color: #444; -moz-border-radius:8px; -webkit-border-radius:8px; border-radius:8px;  }
div.error h2 { color: #BF0000 !important; margin: 10px 0 !important; }
div.hidden-form { display: none; visibility: visible; background: #DCDCE9; padding: 20px; border: 1px solid #a0cad6; margin: 0 0 20px 0; clear: both; -moz-border-radius:8px; -webkit-border-radius:8px; border-radius:8px; }
.hide { display: none; }

div.message { background: #f4f4f4; padding: 0 10px 0px; border: 1px solid #ccc; margin: 0 0 20px 0; -moz-border-radius:8px; -webkit-border-radius:8px; border-radius:8px;  }
div.tip { background: #f0f9e8; padding: 0 10px 0px; border: 1px solid #b1e087; margin: 0 0 20px 0; color: #7b8a6e; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;  }
span.tip { float: left; border: 1px solid #b1e087; background: #f0f9e8; padding: 6px; font-size: 0.95em; color: #7b8a6e; margin: 0 0 0 10px; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;  }

div.module { float: left; width: 40%; padding: 10px; margin: 0 20px 20px 0; background: #f4f4f4; border: 1px solid #ccc; color: #555; text-align: center; }
div.module.last { margin: 0 0 20px 0; }
div.module a { text-decoration: none; }
div.module p { margin: 0 0 20px; }

div.block { float: left; width: 170px; height: 120px; padding: 12px; margin: 0 10px 30px 0; background: #fff; border: 1px solid #bbb; color: #555; }
div.block h2 { font-size: 1.2em; color: #EF8100; margin: 0 0 5px; }
div.block p { font-size: 0.9em; }

div.help { background: #f4f4f4; padding: 0; border: 1px solid #ccc; margin: 0px 0 20px; clear: both; }
div.help p { margin: 0 0 15px; padding: 0 10px; }
span.help { padding: 2px 4px; margin: 0 0 0 10px; }

p.hide { position: absolute; right: 0; top: 0; margin: 4px 4px 0 4px !important; padding: 0 !important; text-align: right; }
p.hide a { background: #fff; text-decoration: none; border: 1px solid #ccc; padding: 0 5px; color: #333; }
a.toggle { outline: none; vertical-align: middle; }

div.pagination { margin: 0 0 15px 0; float: right; clear: both; }
div.pagination p { margin: 0 0 8px; text-align: right; margin: 2px 0 0; }
div.pagination a { background: #fff; border: 1px solid #ccc; padding: 2px 4px; }
div.pagination b { background: #f4f4f4; border: 1px solid #ccc; padding: 2px 4px; }

div#totop { text-align: right; }

form#search { float: left; }
form#search .form-control { width: 140px; }
form#search { margin: 0 0 0 4px; color: #555; }
form#search .inactive { color: #bbb; }

div.template { float: left; margin: 0 0 6px; }
div.template a { display: block; width: auto !important; padding: 5px; margin: 0 5px 0 0; font-weight: normal; font-size: 1.1em; text-decoration: none; background: #fff !important; color: #555 !important; border-left: 1px solid #777 !important; }

img.loading { vertical-align: middle; margin: 10px 5px; display: none; text-align: center; }

/* order */
ul.order, ol.order { list-style-type: none; padding: 0; margin: 0; line-height: 1.5em; width: 100%; }
ul.order ul, ol.order ol { list-style-type: none; padding: 0; margin: 0; }
ul.order li, ol.order li {
margin: 0 0 4px 0;
padding: 0;
position: relative;
cursor: move;
background: #f7f7f7;
border: 1px solid #CCC;
border-radius:3px;
-moz-border-radius:3px;
-webkit-border-radius:3px;
clear: both;
}
ul.order ul li, ol.order ol li  {
margin: 1px 0 0px 0;
background-color: #f4f4f4;
}
ol.order { list-style-position: inside; }
ol.order .col1 {
 display: inline;
 float: left;
 position: relative;
 width: 360px;
 padding: 12px 10px;
}
ol.order .col2 {
 display: inline;
 float: left;
 position: relative;
 width: 400px;
 padding: 12px 10px;
}
ol.order .buttons {
 display: inline;
 float: left;
 position: relative;
 padding: 12px 10px;
 text-align: right;
}
.thumb li {
  width: 100%;
}
.order img { margin: 0 5px 0 0; padding: 8px 0; vertical-align: middle; }
.padded { vertical-align: middle; }
.padded img { float: left; margin: 2px 10px 2px 0; }

div.perm-heading { width: auto; background: #eee; margin: 0 0 2px 0; padding: 0 2px; clear: both; }
div.permissions { display: none; padding: 0 2px; clear: both; }

div.dashboardnav { margin: 0 5px 2px 0; text-align: right; width: 654px;}
ul.dashboardnav { margin: 0 5px 2px 0; text-align: right; width: 654px;}
ul.dashboardnav li { display: inline; }

div#placeholder { width:660px;height:180px; margin-bottom: 10px; }
div#activity { border: 1px solid #ccc; font-size: .9em; padding: 10px; overflow: auto; height: 180px; margin: 0 0 10px; }

/* pages related */
ol.order .pagelink { font-size: 1.2em; }
ol.order .draft { background: #ffffec !important; }
ol.order .hiddenpage { background: #e9e9e9; }
ol.order .haschildren { margin: 8px 0; }

/* TABLE */
table.default { width: 100%; border-collapse: collapse; margin: 0 0 10px; border-top: 1px solid #ccc; border-left: 1px solid #ccc; border-right: 1px solid #ccc; background: #fff;  }
table.default th { background-color: #f4f4f4; font-weight: bold; font-size: .9em; text-align: left; padding: 5px; border: 1px solid #bbb; color: #555; cursor: default; }
table.default th a { color: #555; }	
table.default td { padding: 8px 5px; border-bottom: 1px solid #ccc; color: #555; }
table.default tr.odd { background: #f4f4f4; }
table.default th.narrow { width: 140px; }
table.default th.wide { width: 200px; }
table.default .tiny { width: 90px; text-align: center; }	
table.default tr.shade { background: #e3e3e3; }
table.default tr.gold { background: #fffae5; }
table.default .draft { background: #ffffec !important; }

table.images { width: 100%; border-spacing: 10px; }
table.images td { background-color: #f0f0f0; padding: 10px; line-height: 1.4em; font-size: 0.9em; }
table.images .pic { padding: 10px; margin: 0 0 4px; border: 1px solid #ddd; background: #fff; text-align: center; }
table.images .file { padding: 30px; margin: 0 0 4px; border: 1px solid #ddd; background: #fff; text-align: center; }
table.images .buttons { width: 100%; margin: 0 0 10px; }

table.order tr { cursor: move; }

th a.orderasc { padding: 0 12px 0 0; background: url(/static/images/arrow_down.gif) no-repeat right; }
th a.orderdesc { padding: 0 12px 0 0; background: url(/static/images/arrow_up.gif) no-repeat right; }

/* ROWS */
table tr.red { background: #EFC2C2; }
tr.red td { border-bottom: solid 1px #CF8E8E; }
table tr.orange { background: #f3dcb9; }
tr.orange td { border-bottom: solid 1px #AF9A78; }
table tr.grey { background: #e4e4e4; }
tr.grey td { border-bottom: solid 1px #ccc; }
table tr.blue { background: #C2E2EF; }
tr.blue td { border-bottom: solid 1px #2DB4EB; }	
tr.alt { background: #eee; }
	

/* FORM */
.form-control { background: #f7f7f7; border: 1px solid #aaa; padding: 7px; width: 250px; vertical-align: middle; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; }	
form.default .form-control { float: left; width: 100%; }
form.default label { float: left; width: 150px; font-size: .9em; font-weight: bold; padding: 3px 0 0 4px; clear: both; color: #444; }
form.default label.radio { width: 180px; clear: none; }
form.default input[type="text"], input[type="password"] { width: 252px !important; }
form.default input[type="button"], input[type="reset"], input[type="submit"], input[type="file"], input[type="image"], input[type="radio"], input[type="checkbox"] { width: auto !important; }
form.default select { width: 266px !important; } 
form.default textarea { margin: 0 0 6px; padding: 0; }
form.default label small { font-weight: normal; }
form.default div.editorBox { float: left; margin: 0 0 6px; }
form.default .main { font-weight: bold; }
form.default .nolabel { margin: 0; }
form.default .readonly { float: left; padding: 6px; margin: 0 0 6px; }
form.default .preview { float: left; width: 100%; height: 300px; background: url(/static/images/preview_bg.gif) no-repeat center; overflow: auto; border: 1px solid #ccc; padding: 0px; margin: 0 0 6px; }
form.default .preview img { max-width: 380px; }
form.default .small { width: 80px !important; }
form.default .price { float: left; line-height: 30px; margin: 0 5px; }
input.disabled { color: #aaa !important; }
form.default .categories { float: left; vertical-align: middle; margin: 0 15px 6px 0; }
form.default .category {
float: left;
vertical-align: middle;
margin: 0 2px 0 0;
padding: 4px 6px;
border: 1px solid #ddd;
border-radius: 4px;
}
form.default .category.hover {
cursor: pointer;
color: #468847;
background-color: #DFF0D8;
border: 1px solid #D6E9C6;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
}
form.default .category span { font-size: 0.9em; margin: 0; padding: 0 8px; vertical-align: middle; }
form.default .category input { margin: 0; padding: 0; vertical-align: middle; }
form.default .buttons { margin: 2px 10px 10px 0; padding-right: 10px; }
form.default .previewbutton { display: none; }
form.default .buttons img { height: 19px; }

input.error { border: 1px solid red !important; }
label.error { color: red !important; }

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
background-color: #FFF;
border: 1px solid #CCC;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
-webkit-transition: border linear .2s, box-shadow linear .2s;
-moz-transition: border linear .2s, box-shadow linear .2s;
-o-transition: border linear .2s, box-shadow linear .2s;
transition: border linear .2s, box-shadow linear .2s;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
display: inline-block;
padding: 4px 6px;
margin-bottom: 10px;
font-size: 14px;
line-height: 20px;
color: #555;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
vertical-align: middle;
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
border-color: rgba(82, 168, 236, 0.8);
outline: 0;
outline: thin dotted \9;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

.formelement {
background: #F7F7F7;
border: 1px solid #AAA;
padding: 7px;
width: 250px;
vertical-align: middle;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
}

form.search {
border: none;
background-color: transparent;
padding: 0;
}
form.search input.textbox {
width: 70%;
border: 1px solid #CCC;
background: white;
color: #333;
vertical-align: top;
margin-bottom: 0;
}
button#searchbutton.btn { margin: 0 4px 0 0; padding: 7px 8px; }

div.content {
padding: 10px 20px;
background-color: #FFF;
}
div.content .highlight { border: 1px #4DAF4C solid !important; background: #fff; color: #222 !important; }

div.codehighlight { border: 1px solid #ccc; margin: 10px 0; clear: both; }	

form#templateform h2 {
font-size: 1.2em;
color: #444;
margin: 0 0 6px;
padding: 3px 0;
font-weight: bold;
text-decoration: underline;
}

form#templateform ul {
margin: 4px;
padding: 0 14px;
}

form#templateform ul li {
margin: 2px;
}

div#calendarbox { display: none; position: absolute; top: 110px; left: 444px; padding: 2px; background: #f4f4f4; border: 1px solid #ccc;  }
a.closebox { display: block; text-align: right; font-size: 0.9em; margin: 0 0 5px; }
a.showdate { display: block; float: left; width: 24px; height: 24px; background: url(/static/images/icon_calendar.gif) no-repeat; outline: none; text-indent: -9980px; vertical-align: middle; margin: 0 0 0 2px; }

div.popup { position: absolute; display: none; width: 252px; }
div.popupcontent { width: 210px; padding: 40px 25px 0px 15px; background: transparent url(/static/images/popup_bg.png) no-repeat; overflow: hidden; color: #444; font-size: 0.9em; }
div.popupbottom { width: 252px; height: 33px; background: transparent url(/static/images/popup_bottom.png) no-repeat; }	
.hover { display: block !important; }

/* CALENDAR */
table .calendar { border: 1px #ccc solid; background-color: transparent; }
table .calheading { background-color: #333; color: #fff; text-align: center; }
table .calnavleft { background-color: #333; font-size: 0.9em;	font-weight: bold; color: #fff;	padding: 4px; cursor: pointer; }
table .calnavright { background-color: #333; font-size: 0.9em; font-weight: bold;	color: #fff; text-align:  right; padding: 4px; cursor: pointer; }
table .caldayheading { background-color: #ccc; color: #fff; font-size: 0.9em; text-align: center;	padding: 6px 2px 6px 2px; }
table .caldaycells { color: #000;	background-color: #f4f4f4; font-size: 0.9em; text-align: center; padding: 4px; border: 1px #E0E5F1 solid; cursor: pointer; }
table .caldaycellhover { color: #fff;	background-color: #B3BCD4; font-size: 0.9em; text-align: center; padding: 4px; border: 1px #B3BCD4 solid; cursor: pointer; }
table .caldayselected { background-color: #737FAC; color:	#fff; font-size: 0.9em;	font-weight: bold; text-align: center; border: 1px #566188 solid; padding: 3px; cursor: pointer; }
table .calblanktop { background-color: #fff; padding: 4px; }
table .calblankbot { background-color: #fff; padding: 4px; }

/* PANE SLIDE */

div.panes { width: 998px; overflow: hidden; clear: both; }
div.pane { float: left; width: 998px; }

div#editor, iframe#preview { width: 996px; height: 540px; margin-top: 10px; overflow: auto; border: 1px solid #ddd; }

div.uploadfile { float: left; width: auto; padding: 6px; background: #ffeece; border: 1px solid #bbb; margin: 6px 0 6px 0; }
div.uploadfile img { max-width: 250px; max-height: 250px; padding-bottom: 6px; }

/* QUOTA */
div.quota { width: 100%; height: 30px; background: #f4f4f4; margin: 0 0 15px; border: 1px solid #ddd; clear: both; overflow: hidden; }
div.quota .used { width: 80px; height: 10px; padding: 10px 0; background: #8ec533; color: #fff; font-size: 0.9em; font-weight: bold; text-align: center; }
div.quota .over { width: 100%; height: 10px; padding: 10px 0; background: #ff0000; color: #fff; font-size: 0.9em; font-weight: bold; text-align: center; }

div.smallquota { width: 100%; height: 15px; background: #f4f4f4; margin: 0; border: 1px solid #ddd; clear: both; overflow: hidden; }
div.smallquota .used { width: 1px; height: 15px; background: #8ec533; color: #fff; font-size: 0.9em; font-weight: bold; text-align: center; }
div.smallquota .over { width: 100%; height: 15px; background: #ff0000; color: #fff; font-size: 0.9em; font-weight: bold; text-align: center; }

/* BROWSER */
a.halogycms_button { display: block; float:left; padding:5px; margin:0 5px 0; border:1px solid #e6e6e6; background:#f2f2f2; font-size:11px; color:#000; text-decoration:none; font-weight:bold; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; outline:none; }
a.halogycms_button:hover { background:#f6f6f6; border:1px solid #ccc; }
#halogycms_browser { display: none; position: fixed; right: 20px; top: 20px; width: 250px; height: auto !important; height: 50px; min-height: 50px; background: #fff; border:1px solid #ddd; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; -moz-box-shadow: 0px 0px 15px #ccc; -webkit-box-shadow: 0px 0px 15px #ccc; box-shadow: 0px 0px 15px #ccc; padding: 0; z-index: 1000; }
#halogycms_browser.loading { background: #fff url(/static/images/loading.gif) no-repeat center; }	
#halogycms_browser #halogycms_scroll { height: 450px; width: 100%; border-top: 1px solid #ddd; overflow: auto; }
#halogycms_browser .halogycms_button { margin: 8px; float: right; }
#halogycms_browser .halogycms_close { padding: 0; margin: 12px 10px; float: right; }
#halogycms_browser a { color: #333; text-decoration: none; }
#halogycms_browser p { margin: 12px; }
#halogycms_browser img { border: none !important; }
#halogycms_browser ul img { padding: 0; margin: 0; vertical-align: middle; }
#halogycms_browser ul { display: inline; float: left; width: 100%; list-style-type: none; margin: 0; padding: 0; clear: both; }
#halogycms_browser ul li { display: inline; float: left; width: 100%; margin: 0; padding: 5px 0; border-bottom: 1px solid #eee; clear: both; }
#halogycms_browser ul li.fixed { height: 60px; }
#halogycms_browser ul .halogycms_title a { outline: none; }	
#halogycms_browser ul .halogycms_title strong { padding: 5px; }
#halogycms_browser ul .halogycms_title:hover { background: none; }	
#halogycms_browser ul li:hover { background: #f4f4f4; }
#halogycms_browser .halogycms_thumb { display: inline; float: left; width: 70px; height; 70px; padding: 0; text-align: center; }
#halogycms_browser .halogycms_description { display: inline; float: left; width: 160px; height; 60px; }

/* Misc Helper classes */

em {
  font-weight: bold;
  padding-right: 1em;
  vertical-align: top;
}

.help-inline {
  display: inline-block;
  padding-left: 10px;
}

.padded {
  padding: 10px;
}

.center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.right {
  float: right;
  margin-left: 10px;
  display: block;
}

.left {
  float: left;
  margin-right: 10px;
  display: block;
}

.clear {
  clear: both;
}

.bordered {
  border: solid 2px #FFB500;
}

.highlight {
  background-color: #FFFF99;
}
